{% extends "base.html" %}

{% block title %}About - Seriesly!{% endblock %}

{% block body %}
<section class="step">
    <h3>About</h3>
    <p>Seriesly is about streamlining your TV Show addiction. You don't want to investigate if there was a new episode and you don't want to surf on suspicious sites with ugly ads and popups. You want a reminder for the episodes of your favorite TV Shows delivered to you in your favorite format: as an email, feed item, calendar entry or just on a simple web page. For the nerdy people there is even a Web Hook.</p>
    <p>Seriesly runs on <a href="http://code.google.com/appengine/">Google AppEngine</a>.</p>
</section>
<section class="step">
    <h3 id="impressum">Who built this?</h3>
    <p class="vcard"><a href="http://stefanwehrmeyer.com" title="Stefan Wehrmeyer">
        <span class="given-name">Stefan</span> 
        <span class="family-name">Wehrmeyer</span>
    </a><br/>
        <span class="adr">
            <span class="street-address">Weisestr. 22</span><br/> 
            <span class="postal-code">12049</span> <span class="locality">Berlin</span>,
            <span class="country-name">Deutschland</span>
        </span><br/>
    E-Mail: <a class="email" title="E-Mail Seriesly" href="mailto:mail@seriesly.com">mail@seriesly.com</a><br/>
    Twitter: <a class="twitter" title="Twitter @seriesly" href="http://twitter.com/seriesly">@seriesly</a>
    </p>
</section>
<section class="step">
    <h3>Also Important</h3>
    <p>The mail, calendar, settings, "episode guide" and "web hook" icon used on this site are from <a href="http://www.everaldo.com/crystal/">Crystal by Everaldo Coelho</a> and licensed under <a href="http://www.everaldo.com/crystal/?action=license">GNU Lesser General Public License</a>.</p>
    <p>The feed icon used on this site is from <a href="http://en.wikipedia.org/wiki/File:Feed-icon.svg">Wikipedia WebFeed article</a>.</p>
</section>
{% endblock %}
