<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>A Serious Error Occured: Quota Exceeded</title> 
        <link rel="stylesheet" href="/media/css/seriesly.min.css?v=3" type="text/css"/> 
        <!--[if IE]><style type="text/css">
          .clearfix {zoom: 1; display: block;}
        </style>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]--> 
       
       <link rel="icon" type="image/png" href="/media/img/favicon.png" /> 
       <meta name="robots" content="index, follow" /> 
       <meta name="keywords" content="tv show series episode guide calendar rss atom xml email" /> 
       <meta name="description" content="Seriesly notifies you when your favorite TV shows comes out." />
    </head> 
    
    <body> 
        <nav class="skipLink"> 
            <ul> 
                <li><a href="#content">to main content</a></li> 
            </ul> 
        </nav> 
        <header role="banner" id="header"> 
            <h1 class="logo"><a href="http://www.seriesly.com/">Seriesly</a></h1> 
            <h2 class="strapline">Taking your addiction seriesly.</h2> 
        </header> 
        
        <article id="content"> 
            
<section class="step frame"> 
    <div class="centered" style="margin:6em auto;"> 
        <h3>Too much Seriesly!</h3> 
        <p class="full">Seriesly is under heavy load and has depleted its computational resources. It will be available again at about 8 AM UTC.</p> 
    </div> 
</section> 
 
        </article> 
        
        <aside id="twitter"></aside> 
        
        <footer id="footer"> 
            <ul> 
                <li><a href="/about/">About</a></li> 
                <li><a href="/faq/">FAQ</a></li> 
                <li><a href="/about/#impressum">Impressum</a></li> 
                <li><a href="/terms/">Terms</a></li> 
                <li><a href="/privacy/">Privacy</a></li> 
                <li><a href="http://stefanwehrmeyer.com">StefanWehrmeyer.com</a></li> 
            </ul> 
        </footer> 
       
       <script type="text/javascript"> 
       var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
       document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
       </script> 
       <script type="text/javascript"> 
       try {
       var pageTracker = _gat._getTracker("UA-12418396-1");
       pageTracker._trackPageview();
       } catch(err) {}</script> 
    </body> 
</html> 