    <h3>Recently</h3>
    <ul class="episode-list">
        {% for item in recently %}
        <li class="vevent episode-item">
            <div class="clearfix" style="width:100%">
                <div class="left">
                    <div class="vevent-meta">
                        <time class="dtstart" datetime="{{ item.date|date:"Y-m-d\TH:i:s" }}">{{ item.date_local|timesince }} ago</time>
                        <time class="dtend" datetime="{{ item.date_end|date:"Y-m-d\TH:i:s" }}"></time> <span class="location">on {{ item.show.network }}</span>, {{ item.season_number }}x{{ item.number }}
                    </div>
                    <span title="Season {{ item.season_number }}, Episode {{ item.number }}" class="summary">{{ item.show.name }}: &ldquo;{{ item.title }}&rdquo;</span>
                </div>
                {% if subscription.want_releases %}
                <ul class="right description">{% for release in item.releases %}<li><a href="{% url seriesly-releases-redirect release.idnr %}" title="{{ release.url }}">{{ release.title }}</a></li>{% empty %}<li>No releases for this episode yet</li>{% endfor %}</ul>
                {% endif %}
            </div>
            {% if AMAZON %}{% include "amazon.html" %}{% endif %}
        </li>
        {% empty %}
        <li>No recent episodes</li>
        {% endfor %}
    </ul>
</section>
<section class="step">
    <div class="split">
        <div class="left halfsize">
            <h3>Last Seven Days</h3>
            <ul class="episode-list">
                {% for item in last_week reversed %}
                <li class="vevent episode-item">
                    <div class="vevent-meta">
                        <time class="dtstart" datetime="{{ item.date|date:"Y-m-d\TH:i:s" }}">{{ item.date_local|timesince }} ago</time>
                        <time class="dtend" datetime="{{ item.date_end|date:"Y-m-d\TH:i:s" }}"></time> <span class="location">on {{ item.show.network }}</span>, {{ item.season_number }}x{{ item.number }}
                    </div>
                    <span title="Season {{ item.season_number }}, Episode {{ item.number }}" class="summary">{{ item.show.name }}: &ldquo;{{ item.title }}&rdquo;</span>
                    {% if subscription.want_releases %}
                    <ul class="description margin-left">{% for release in item.releases %}<li><a href="{% url seriesly-releases-redirect release.idnr %}" title="{{ release.url }}">{{ release.title }}</a></li>{% empty %}<li>No releases found for this episode</li>{% endfor %}</ul>    
                    {% endif %}
                    {% if AMAZON %}{% include "amazon.html" %}{% endif %}
                </li>
                {% empty %}
                <li>No episodes last week</li>
                {% endfor %}
            </ul>
        </div>
        <div class="right halfsize">
            <h3>Coming Up Soon</h3>
            <ul class="episode-list">
                {% for item in upcoming %}
                <li class="vevent episode-item">
                    <div class="vevent-meta">
                        <time class="dtstart" datetime="{{ item.date|date:"Y-m-d\TH:i:s" }}">in {{ item.date_local|timeuntil }}</time>
                        <time class="dtend" datetime="{{ item.date_end|date:"Y-m-d\TH:i:s" }}"></time> <span class="location">on {{ item.show.network }}</span>, {{ item.season_number }}x{{ item.number }}
                    </div>
                    <span title="Season {{ item.season_number }}, Episode {{ item.number }}" class="summary">{{ item.show.name }}: &ldquo;{{ item.title }}&rdquo;</span>
                    {% if AMAZON %}{% include "amazon.html" %}{% endif %}
                </li>
                {% empty %}
                <li>No upcoming episodes</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="clear"></div>