{% extends "base.html" %}

{% block title %}Privacy - Seriesly!{% endblock %}

{% block body %}
<section class="step">
    <h3>Privacy</h3>
    <p>Seriesly cares about your privacy:</p>
    <ul class="normal-list">
        <li>Seriesly will not give away or publish your private data (most notably your email). Be aware that anonymous usage statistics may be published.</li>
        <li>Seriesly will also not deliberately send you notifications (via email, RSS, Calendar, etc.) that do not contain information about a new episode for one of your subscribed shows. Seriesly does not spam.</li>
        <li>Seriesly might embed third party advertisement into its notifications.</a>
        <li>Be aware that Seriesly runs on <a href="http://code.google.com/intl/de-DE/appengine/">Google AppEngine</a>. Be also aware that Seriesly tracks users with Google Analytics.</li>
        <li>You should not share your subscription links with others unless you want them to see the shows you subscribed to, possibly your email address and your other settings. Others will also be able to change your subscription settings with your subscription link.</li>
        <li>If you want to close down your account, you can either abandon it and it might get deleted after some time of inactivity or you can request deletion at <a href="mailto:{{ DEFAULT_FROM_EMAIL }}">{{ DEFAULT_FROM_EMAIL }}</a>.</li>
    </ul>
</section>
{% endblock %}
