* {
    padding:0;
    margin:0;
    outline:0;
}

article, aside, footer, header, hgroup, nav, section {
    display:block;
}

body {
    font-size:16pt;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#333;
    background-color: #d9d9d9;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-image: url("../img/background.png");
    background-image:-webkit-gradient(radial, 15% 30, 500, 30% 30, 0, from(#d9d9d9), to(#fff));
    background-image:-moz-radial-gradient(25% 30px, circle cover, #fff 0%, #d9d9d9 500px);
    /* Fail for Webkit: downloads background image even though it doesn't need it, Firefox 3.6 is more clever 
     Also fail for Opera: it doesn't know -moz- or -webkit-gradients but interprets the part of a 
    background-declaration it understands instead of throwing it away and using the previous declaration
    Any idea how to degrade more properly here? Mail me! */
}

h3 {
    margin:0 0 0.4em;
    font-family: "Garamond", Georgia, serif;
    font-size:1.5em;
}

p {
    margin-bottom:0.5em !important;
    max-width:675px;
}

.normal-list {
    margin:0.5em 0.5em 0.5em 1em;
}

.faq-list li {
    margin: 0 0 0.5em;
}

.faq-list li:target{
    outline: 1px solid #d00;
}

.full {
    max-width:inherit;
}

.hide-me {
    display:none;
}

.hide-me:target {
    display:block !important;
}

.barely-visible {
    margin:0.2em;
    font-size:0.5em;
    color:#ccc;    
}

.barely-visible a {
    color:#ccc;
}

a, a:visited {
    color:#333;
}

a:hover {
    color:#777;
}

.skipLink {
    display:block;
    position:absolute;
    left:-999em;
    top:0;
}

.logo {
    font-family: "Garamond", Georgia, serif;
    font-size:3em;
}

.logo a {
    text-decoration:none;
    color: #333;
}

.strapline {
    font-size:0.5em;
    position:relative;
    top:-1.3em;
    left:0.15em;
    letter-spacing: -.05em;
}

section {
    margin:0 0.5em 1em;
}

small {
    font-size:0.75em;
}


#header {
    margin:0 auto;
    width:900px;
}

#content {
    margin:0 auto;
    width:900px;    
}

.no-border {
    border:0;
}

#search {
}

.frame {
    min-height:380px;
}

.step {
    border:0;
    padding:10px;
    margin:10px 0 10px;
    background:#fff;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.3);
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.step-label {
    padding:0 8px;
    margin:0 0 0 -10px;
    font-size:1.5em;
    background:#fff;
}

.smaller {
    font-size:0.8em !important;
    margin:0;
}

.select-shows {
    width:100%;
}

.error {
    color:#d00;
}

.errorlist {
    color:#d00;
    list-style:none;
}

.show-list {
    height:10em;
    overflow:auto;

    border: 1px solid #666;
    background:#e5e5e5;
    background:rgba(255,255,255,0.3);
}

.show-list li {
    display:block;
    border-top:2px #fff solid;
    padding:2px 5px 2px 5px;
    background:#f3f3f3;
    cursor:pointer;
}

.show-list label, .label {
    cursor:pointer;
}

.show-list label:after {
    content:"+";
    display:block-inline;
    float:right;
    cursor:pointer;
}

.new-show label:after{
    content:"new";
    font-size:10pt;
    padding:2px 0 0 2px;
}

.new-show {
    background:#a3f6f6;
}

.label-minus {
    text-decoration:none;
    cursor:pointer;
}

.label-minus:hover {
    color:inherit;
}

.label-minus:after {
    content:"−";
    display:block;
    float:right;
    cursor:pointer;
}

.show-list li:hover {
    background:#f9f9f9;
    color:#000;
}

.show-item {
    text-decoration:none;
    float:right;
}

#chosenshows {
    float:right;
    width:49%;
}

.multi-checkbox {
    padding:0 0 0.5em;
}

.multi-checkbox input{
    padding-left:3em;
    margin:0 0.5em;
}

.multi-checkbox label{
    padding-right:3em;
}

#advanced p {
    font-size:0.8em;
}

.centered {
    margin:0 auto;
    text-align:center;
}

.subscriptions {
    list-style:none;
    display:inline;
}
.subscriptions li {
    display:inline-block;
    margin:0 1em;
}
.subscriptions li p {
    font-size:0.9em;
}

.big-button {
    margin: 0.5em;
    padding:0.5em;
    width:20em;
    font-size: 1em;
}

.right {
    float:right;
}

.left {
    float:left;
}

.halfsize {
    width:50%;
}

.split {
    width:100%;
}

.clear {
    clear:both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}  /* for IE/Mac */

.go-back {
    float:right;
    font-size:0.75em;
}

.episode-list, .description {
    list-style: none;
}

.description {
    font-size:0.75em;
}

.episode-item {
    display:block;
    margin:0 0.3em 0.6em;
    padding:0.5em;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.3);
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.vevent-meta {
    font-size:0.5em;
    margin:0 0 -0.2em;
}

.email-sub {
    font-size:1em;
}

.greyish {
    color: #ccc;
}

#twitter {
    margin:0 auto;
    width:900px;
    text-align:center;
    font-size:0.6em;
    padding:0.5em 0;
    font-size:0.5em;
}

#tweets {
    max-width:inherit;
}

#footer {
    margin:0 auto;
    width:900px;
    text-align:center;
    font-size:0.5em;
    padding:0.5em 0;
}

#footer ul {
    display:inline;
}

#footer  ul li {
    display:inline;   
}

.sprite {
    text-align:center;
    width:48px;
    height:48px;
    margin:0 auto;
    background: url("../img/seriesly-sprites.png") no-repeat top left;
}

.sprite-big {
    width:96px;
    height:96px;
    background: url("../img/seriesly-sprites.png") no-repeat top left;
}
.sprite-guide { background-position: 0 0; } 
.sprite-guide_big { background-position: 0 -98px; } 
.sprite-ical { background-position: 0 -244px; } 
.sprite-ical_big { background-position: 0 -342px; } 
.sprite-mail { background-position: 0 -488px; } 
.sprite-mail_big { background-position: 0 -586px; } 
.sprite-feed { background-position: 0 -732px; } 
.sprite-feed_big { background-position: 0 -822px; } 
.sprite-webhook { background-position: 0 -960px; } 
.sprite-webhook_big { background-position: 0 -1050px; } 
.sprite-xmpp { background-position: 0 -1196px; } 
.sprite-xmpp_big { background-position: 0 -1286px; } 
