{% extends "base.html" %}

{% block title %}FAQ - Seriesly!{% endblock %}

{% block body %}
<section class="step">
    <h3>Frequently Asked Questions</h3>
    <ul class="faq-list normal-list">
        <li><p><a class="toggle" href="#q-3">I lost my subscription link! What should I do?</a></p>
        <div id="q-3" class="hide-me">If you are still getting notifications somewhere you have not lost your subscription URL. A link to your subscription page is available in email and feed notifications. For calendars you can find the calendar URL in your calendar application and remove the "calendar/" part at the end and have your subscription URL. If you have XMPP Chat notifications, talk to the Seriesly Bot and he will tell you your subscription URL.<br/>If you are not getting any notifications anywhere you can still look in your browser's history.</div></li>
        <li><p><a href="#q-1" class="toggle">How do I use the Calendar URL with Google Calendar?</a></p>
            <div id="q-1" class="hide-me">Go to <a href="http://www.google.com/calendar/">Google Calendar</a>, log in and click on "Add" in the left column under "Other calendars", then click on "Add by URL". Copy the Seriesly Calendar URL, paste the URL into the URL field on the Google Calendar dialog and click "Add Calendar". You are done.</div></li>
        <li><p><a href="#q-2" class="toggle">How do I use the Calendar URL with Apple's iCal?</a></p>
        <div id="q-2" class="hide-me">Copy the Seriesly Calendar URL. Go to iCal and click on Calendar in the Menubar and choose "Subscribe...". Paste the URL into the URL field and click "Subscribe". Choose a name for the calendar (e.g. "Seriesly"), a color and set the auto-refresh to "daily". Refresh once in the late morning in a European time zone to sync up with the Seriesly publishing time. You are done.</div></li>
        <li><p><a href="#q-4" class="toggle">My XMPP subscription is not working, what can I do?</a></p>
        <div id="q-4" class="hide-me">Your subscription will be deactivated if an error occurs while delivering notifications to your XMPP address. You might have to reactivate your subscription by following the instructions in the XMPP section of your subscription page. If this doesn't work, remove the XMPP address, save, reenter it and save again.</div></li>
        <li><p><a href="#q-5" class="toggle">I want to do the Web Hook thing, but how?</a></p>
        <div id="q-5" class="hide-me">Please refer to the <a href="{% url seriesly-webhook-xml %}">Seriesly Web Hook details page</a>.</div></li>
        <li><p><a href="#q-9999" class="toggle">My question is not listed, what do I do?</a></p>
        <div id="q-9999" class="hide-me">Write an email with your question to mail [at] seriesly.com.</div></li>
    </ul>
</section>
{% endblock %}