{% extends "base.html" %}

{% block title %}Imprint - Seriesly!{% endblock %}

{% block body %}
<section class="step">
    <h3 title="">Who build this?</h3>
    <p class="vcard"><a href="http://stefanwehrmeyer.com" title="Stefan Wehrmeyer">
        <span class="given-name">Stefan</span> 
        <span class="family-name">Wehrmeyer</span>
    </a><br/>
        <span class="adr">
            <span class="street-address">Roonstr. 22</span><br/>
            <span class="postal-code">12203</span> <span class="locality">Berlin</span>,
            <span class="country-name">Germany</span>
        </span><br/>
    E-Mail: <a class="email" title="E-Mail Seriesly" href="mailto:mail@seriesly.com">mail@seriesly.com</a><br/>
    Twitter: <a class="twitter" title="Twitter @seriesly" href="http://twitter.com/seriesly">@seriesly</a>
    </p>
</section>

<section class="step">
    <h3>Also Important</h3>
    <p>The mail, calendar, "episode guide" and "web hook" icon used on this site are from <a href="http://www.everaldo.com/crystal/">Crystal by Everaldo Coelho</a> and licensed under <a href="http://www.everaldo.com/crystal/?action=license">GNU Lesser General Public License</a>.</p>
    <p>The feed icon used on this site is from <a href="http://en.wikipedia.org/wiki/File:Feed-icon.svg">Wikipedia WebFeed article</a>.</p>
</section>
{% endblock %}
{% block extra_js %}{% endblock  %}