{% extends "base.html" %}

{% block title %}Seriesly Public Subscription Page - Seriesly!{% endblock %}

{% block rss %}
<link rel="alternate" type="application/atom+xml" title="Seriesly Atom Feed of these shared shows" href="{{ DOMAIN_URL }}{% url 'seriesly-subscription-atom_public' subscription.public_id  %}" />
{% endblock %}


{% block body %}
<section class="step">
    <h3>Shared URLs</h3>
    <p>This shared Seriesly subscription provides the following:</p>
    <ul class="normal-list">
        <li><a href="{% url 'seriesly-subscription-guide_public' subscription.public_id  %}">Episode Guide</a></li>
        <li><a href="{% url 'seriesly-subscription-atom_public' subscription.public_id  %}">Feed URL</a></li>
        <li><a href="{% url 'seriesly-subscription-calendar_public' subscription.public_id  %}">Calendar URL</a></li>
    </ul>
</section>

<section class="step">
    <h3>Shared Shows</h3>
    <p>This shared Seriesly subscription contains these shows:</p>
    <ul class="normal-list">
    {% for show in shows %}
        <li>&ldquo;{{ show.name }}&rdquo; on {{ show.network }}</li>
    {% empty %}
        <li>There are no shows.</li>
    {% endfor %}
    </ul>
    <p><a href="{% url 'seriesly-index' %}#shows={% for show in shows %}{{ show.provider_id }}{% if not forloop.last %},{% endif %}{% endfor %}">Create your own Seriesly subscription based on this list!</p>
</section>
{% endblock %}
{% block extra_js %}{% endblock  %}
