<p>"{{ item.title }}" aired on {{ item.date|date:"d.m.Y - H:i" }} (GMT).</p>
{% if item.next %}
{% if item.next.date %}
<p>The next episode "{{ item.next.title }}" ({{ item.next.season_number }}x{{ item.next.number }}) will air on {{ item.next.date|date:"d.m.Y - H:i" }} (GMT).</p>
{% else %}
<p>The airdate of the next episode "{{ item.next.title }}" ({{ item.next.season_number }}x{{ item.next.number }}) is unkown.</p>
{% endif %}
{% else %}
{% if not item.show.active %}
<p>This show has ended.</p>
{% else %}
<p>There is no information about the next episode.</p>
{% endif %}
{% endif %}
<hr/>